# Vectorize the qoutes

We are taking in inputs of the price of each transactions and vectorizing them to perform the arbitrage at a go and release the results all at once so we can decide which ones to go for

Let Each row be a transaction

T1 -> quoted | Implied | Status | Is_profittable | Selling_price | Profit

T2 -> quoted | Implied | Status | Is_profittable | Selling_price | Profit

T3 -> quoted | Implied | Status | Is_profittable | Selling_price | Profit

T4 -> quoted | Implied | Status | Is_profittable | Selling_price | Profit

T5 -> quoted | Implied | Status | Is_profittable | Selling_price | Profit

T6 -> quoted | Implied | Status | Is_profittable | Selling_price | Profit

In [1]:
import numpy as np
import pandas as pd

rand_quoteX =  np.random.randint(70000, 120000) # Random quote generated for BTC USD -> XY
rand_quoteY =  np.random.randint(997, 1500) # Random quote generated for USD NGN -> YZ
rand_quoteZ =  rand_quoteX * rand_quoteY# Random quote generated for BTC NGN -> XZ
capital = 1000 # Takes the unit of the quote

# Implied is rand_quoteZ / rand_quotesY

quote_list = np.array([rand_quoteX, rand_quoteY, rand_quoteZ, 1/rand_quoteX, 1/rand_quoteY, 1/rand_quoteZ])
implied_list =np.array([((1/rand_quoteY)/(1/rand_quoteZ)), (rand_quoteZ/rand_quoteX), (rand_quoteY/(1/rand_quoteX)), ((1/rand_quoteZ)/(1/rand_quoteY) ), (rand_quoteX/rand_quoteZ), ((1/rand_quoteX)/rand_quoteY)]) # BTCUSD, USDNGN, BTCNGN, USDBTC, NGNUSD, NGNBTC

xz_list = np.array([1/rand_quoteY, rand_quoteZ, rand_quoteY, 1/rand_quoteZ, rand_quoteX, 1/rand_quoteX]) # XZ for Quote1, Quote2, Quote3 ...
xy_list = np.array([1/rand_quoteZ, rand_quoteX , 1/rand_quoteX, 1/rand_quoteY, rand_quoteZ, rand_quoteY]) #XY for QUOTE1, Quote2 ...

selling_price = (((capital / quote_list) / xy_list) * xz_list)
profit =  selling_price - (capital)
quote_data = {
    "Quotes[YZ]":quote_list,
    "Implied[YZ']": implied_list,
    "Is_Arbitrage": np.where(quote_list != implied_list, True, False),
    "Is_Profittable": np.where(selling_price > capital , True, False),
    "Selling_Price": selling_price,
    "Profit": profit
}
indices = ["T1", "T2", "T3", "T4", "T5", "T6"]

data = pd.DataFrame(quote_data, index=indices)
data

,Quotes[YZ],Implied[YZ'],Is_Arbitrage,Is_Profittable,Selling_Price,Profit
T1,7.758500e+04,7.758500e+04,True,True,1000.0,2.273737e-13
T2,1.437000e+03,1.437000e+03,False,False,1000.0,-1.136868e-13
T3,1.114896e+08,1.114896e+08,False,True,1000.0,1.136868e-13
T4,1.288909e-05,1.288909e-05,True,False,1000.0,-1.136868e-13
T5,6.958942e-04,6.958942e-04,False,False,1000.0,0.000000e+00
T6,8.969443e-09,8.969443e-09,True,True,1000.0,2.273737e-13